<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Event Log</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <h1 class="main-title">Database Event Log</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>DB Name</th>
                        <th>DB ID</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hoverable-row">
                        <td>2025-07-04 03:30 PM
                            <div class="row-info">Triggered by automated failover process.</div>
                        </td>
                        <td>Users-Primary</td>
                        <td>shard-db-002b</td>
                        <td><span class="event">Switch</span></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>