<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shard Management</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="./style.css">
    <!-- Link to Google Fonts for a modern typeface -->
</head>
<body>

    <div class="container">
        <!-- Main Title -->
        <h1 class="main-title">Database Shard Control -> RUIDS</h1> 

        <!-- Table Container -->
        <div class="table-container">
            <table>
                <!-- Table Header -->
                <thead>
                    <tr>
                        <th>RUID</th>
                        <th>Errors</th>
                    </tr>
                </thead>

                <tbody class = "ruid-list">
                    <tr>
                        <td><a href="./emptyRULog.html">aime1</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="tooltip" class="tooltip">Path copied to clipboard!</div>
    <script>
        function handleRightClick(event) {
            event.preventDefault();
            copyToClipboard(event.currentTarget.href);
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                showTooltip();
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        }

        function showTooltip() {
            const tooltip = document.getElementById('tooltip');
            tooltip.classList.add('show');
            setTimeout(() => {
                tooltip.classList.remove('show');
            }, 2000);
        }
    </script>
</body>
</html>
